.background {
  background-image: linear-gradient(to bottom right, white, lightcoral);
  background-image: url('../images/book.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.dropbtn {
  background-color: lightcoral;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #85532a;
}

.red {
  background: rgb(138, 23, 42);
  height: 350px;
}

.blue {
  background: rgb(32, 84, 102);
}

.green {
  background: rgba(12, 77, 63, 0.658);
}

.dark {
  background: rgb(166, 119, 211);
}

.medical {
  background: rgb(127, 175, 118);
}

.red i,
fa {
  color: rgb(131, 129, 35);
  font-size: 60px;
  margin-left: 96px;
  margin-top: 32px;
}

.blue i,
fa {
  color: rgb(196, 174, 236);
  font-size: 60px;
  margin-left: 96px;
  margin-top: 32px;
}

.green i,
fa {
  color: rgb(12, 68, 26);
  font-size: 60px;
  margin-left: 96px;
  margin-top: 32px;
}

.dark i,
fa {
  color: rgb(84, 39, 105);
  font-size: 60px;
  margin-left: 96px;
  margin-top: 32px;
}

.medical i,
fa {
  color: rgb(8, 44, 22);
  font-size: 60px;
  margin-left: 96px;
  margin-top: 32px;
}

.underlined:after {
  background: #e74c3c;
  content: "";
  display: block;
  width: 250px;
  height: 3px;
  margin: 5px auto;
}

.box {
  height: 280px;
  border: 1px solid rgb(114, 17, 17);
}

.novel::after {
  background: #e74c3c;
  content: "";
  display: block;
  width: 250px;
  height: 3px;
  margin: 5px auto;
}

.sell::after{
  background: #000000;
  content: "";
  display: block;
  width: 250px;
  height: 3px;
  margin: 5px auto;
}
.footer{
  color:#fff;
  background-color: #293847;
 padding-left: 20px;
}