@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Tilt+Neon&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tilt Neon", "sans-serif";
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background-image: url('newbook.png');
    background-size: cover;
    
    
    

}

.wrap {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    padding: 30px 40px;




}

.wrap h1 {

    font-size: 36px;
    text-align: center;
    color: aliceblue;

}

.wrap .input-box {
    width: 100%;
    height: 50px;

    margin: 30px 0;
    position: relative;


}

.input-box input {
    width: 100%;
    height: 100%;

    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {

    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrap .remember-forgot{
 display: flex;
 justify-content: space-between;
 font-size: 14.5px;
 margin: -15px 0 15px;

}
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;

}
.remember-forgot a{

    color: white;
    text-decoration:none;
}
.remember-forgot a:hover{
    text-decoration: underline;
    
}
.wrap .batan{
width: 100%;
height: 45px;
background: white;
border: none;
outline: none;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0,0,0,.1);
cursor: pointer;
color: black;
font-weight: 650;


}
.wrap .register-link{
font-size: 14.5px;
text-align: center;
margin: 20px 0 15px ;
}
.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
 text-decoration: underline;

}

.logo {
    
    position: absolute;
    top: -10px;
    left: 90px;
    font-size: 80px; 
    color: #e1bd7e; 
    font-family: 'Cedarville Cursive' ;
   
    
}

