{% extends "base.html" %}
{% load static %}

{% block title %}AboutUs{% endblock title %}

{% block content %}
    <p class="text-2xl text-white text-center font-bold underline mt-8">About Us</p>
    <p class="text-white mt-5 pl-1">Second hand stores have great books you don't get in regular shops.</p><br>
    <p class="text-white pl-1">When a
        used book or second hand book which has been owned before by an owner other than the publisher or retailer,
        usually
        by an individual or library.We provide you second hand novels, competitive exams books, school books and other
        help
        books for engineering purposes.<br>We are rated 4.7+ out of 5 on both Google and Facebook. Our major focus is on
        quality, which reflects our high-rating.<span class="underline pl-1 pr-1"> Save Up to 80% Off </span> largest second hand books marketplace. Buy second
        hand books with free delivery to your doorstep. Also, Books play a significant role in every individual’s life,
        especially in a student’s life. They are considered the best friends of students, in fact, the best companions
        they can ever have. They inspire them to grow in life and teach them valuable life lessons like “To be a
        champion, you must compete. For a great champion, compete with the best but to become the greatest champion,
        compete with yourself.”
    </p>
{% endblock content %}