{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        <div class="dropdown">
            <button class="dropbtn">Select Language</button>
            <div class="dropdown-content">
                <a href="#">Melayu</a>
                <a href="#">Bosanki</a>
                <a href="#">Bengali</a>
                <a href="#">Dansk</a>
                <a href="#">Eesti</a>
                <a href="#">English(Australia)</a>
                <a href="#">English(India)</a>
                <a href="#">English(United Kingdom)</a>
                <a href="#">Francais</a>
                <a href="#">Galego</a>
                <a href="#">Hindi</a>
                <a href="#">Indonesia</a>
                <a href="#">Italiano</a>
                <a href="#">Malti</a>
                <a href="#">Nepali</a>
                <a href="#">Polski</a>
                <a href="#">Portugues(Brasil)</a>
                <a href="#">Portugues(Portugal)</a>
                <a href="#">Suomi</a>
                <a href="#">Svenska</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-5xl mt-40 pl-20">Book On Sale</p>
                    <p class="text-black font-bold pl-20 pt-10 text-900">Buy And Sell Used Books In India. Search And
                        Buy
                        Second Hand
                        Books near You.</p>
                    <a href="/PageTurn/SellBooks/" class="btn btn-danger ml-20 mt-5">Sell Used Books</a>
                </div>

                <form method="POST" action="/PageTurn/Register/">
                    {% csrf_token %}
                    
                    <div id="border" class="mt-40">
                        <div class="right flex flex-col bg-white p-8 rounded-sm mb-3"
                            style="box-shadow:2px 2px 2px 2px #aaaaaa9f">                            
                            
                            <input class="px-4 h-12 my-2 border border-1 border-gray-200 rounded-lg" type="text"
                                placeholder="Full Name" name="userfullname" required>                            
                            <input class="px-4 h-12 my-2 border border-1 border-gray-200 rounded-lg" type="mobile number"
                                placeholder="Mobile no." name="usermobile" required>
                            <input class="px-4 h-12 my-2 border border-1 border-gray-200 rounded-lg" type="email"
                                placeholder="E-Mail" name="useremail" required>
                            <input class="px-4 h-12 my-2 border border-1 border-gray-200 rounded-lg" type="Username"
                            placeholder="Username" name="username" required>
                            <input class="px-4 h-12 my-2 border border-1 border-gray-200 rounded-lg" type="password"
                                placeholder="Password" name="userpasswd" required>
                            
                            <button type="SUBMIT" class="btn btn-outline-danger mt-3">Submit</button>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col red">
            <i class="fa fa-flask" aria-hidden="true"></i>
            <p class="text-white font-bold text-center pt-1">School Books</p>
            <p class="text-white mt-2 text-center">2437 ads</p>
            <p class="text-white mt-10 text-center">Arts,Commerce,Others,Science</p>
            <a href="" class="btn btn-outline-light ml-20 mt-10">VIEW ALL</a>
        </div>
        <div class="col blue">
            <i class="fa fa-book" aria-hidden="true"></i>
            <p class="text-white font-bold text-center pt-1">Engineering Books</p>
            <p class="text-white mt-2 text-center">987 ads</p>
            <a href="" class="btn btn-outline-light ml-20 mt-10">VIEW ALL</a>
        </div>
        <div class="col green">
            <i class="fa fa-black-tie" aria-hidden="true"></i>
            <p class="text-white font-bold text-center pt-1">Competitive Exams</p>
            <p class="text-white mt-2 text-center">2573 ads</p>
            <p class="text-white mt-10 text-center">CAT|GATE|GRE,IBPS PO,Management</p>
            <a href="" class="btn btn-outline-light ml-20 mt-10">VIEW ALL</a>
        </div>
        <div class="col dark">
            <i class="fa fa-hourglass-half" aria-hidden="true"></i>
            <p class="text-white font-bold text-center pt-1">Stories</p>
            <p class="text-white mt-2 text-center">1531 ads</p>
            <p class="text-white mt-10 text-center">Comics,Fiction,Non-Fiction,<br>Others</p>
            <a href="" class="btn btn-outline-light ml-20 mt-10">VIEW ALL</a>
        </div>
        <div class="col medical">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
            <p class="text-white font-bold text-center pt-1">Medical</p>
            <p class="text-white mt-2 text-center">504 ads</p>
            <p class="text-white mt-10 text-center">Homeopathy,MBBS,Medicine,<br>Nursing</p>
            <a href="" class="btn btn-outline-light ml-20 mt-10">VIEW ALL</a>
        </div>
    </div>
    <div class="row">
        <div class="col" style="background: lightgray;">
            <p class="mt-24 text-center text-3xl font-bold underlined">Featured Used Books</p>
        </div>
    </div>
    <div class="row pt-4" style="background: lightgray;">

        <!-- Used Books -->
        {% for book in ubook %}
        <div class="col box">
            
            <img src="{{book.image.url}}" class="h-40 w-60 ml-10 mt-10" alt="">
            <p class="text-gray-500 text-sm ml-20 mt-1">{{book.category}}</p>
            <p class="text-red-700 text-sm ml-28">Upto ₹{{book.price}}</p>
        </div>
        {% endfor %}

    </div>
    <div class="row pt-10" style="background: lightgray;">
        <div class="col novel">
            <p class="text-center text-2xl font-bold">Buy Second Hand Novels</p>
        </div>
    </div>
    <div class="row" style="background: lightgray;">
        <div class="col">
            <img src={% static "images/novel.png"%} class="h-48 w-60">
            <p class="text-sm text-red-700 ml-24">₹100</p>
        </div>
        <div class="col">
            <img src={% static "images/ice-fire.jpg"%} class="h-44 w-56 pt-3">
            <p class="text-sm text-red-700 ml-24 pt-0">₹1000</p>
        </div>
        <div class="col">
            <img src={% static "images/Series.png"%} class="h-44 w-56 mt-2">
            <p class="text-sm text-red-700 ml-24 pt-0">₹150</p>
        </div>
        <div class="col">
            <img src={% static "images/cartoon.png"%} class="h-44 w-56 mt-2">
            <p class="text-sm text-red-700 ml-32 pt-0">₹50</p>
        </div>
        <div class="col">
            <img src={% static "images/novel1.jpg"%} class="h-44 w-56 mt-2">
            <p class="text-sm text-red-700 ml-32 pt-0">₹150</p>
        </div>
    </div>
    <div class="row" style="background: lightgray;">
        <div class="col ml-10">
            <img src={% static "images/before.jpg"%} class="h-44 w-56 mt-6">
            <p class="text-sm text-red-700 ml-20 pt-0">₹100</p>
        </div>
        <div class="col ml-10">
            <img src={% static "images/it.jpg"%} class="h-48 w-40 mt-6">
            <p class="text-sm text-red-700 ml-20 pt-0">₹150</p>
        </div>
        <div class="col">
            <img src={% static "images/malgudi.jpg"%} class="h-48 w-56 mt-6">
            <p class="text-sm text-red-700 ml-32 pt-0">₹50</p>
        </div>
        <div class="col">
            <img src={% static "images/Mistake.jpg"%} class="h-48 w-56 mt-6">
            <p class="text-sm text-red-700 ml-28 pt-0">₹200</p>
        </div>
    </div>
    <div class="row pt-28" style="background: lightgray;">
        <div class="col sell">
            <p class="text-center text-2xl font-bold">How to Sell Used Books?</p>
        </div>
    </div>
    <div class="row" style="background: lightgray;">
        <div class="col">
            <img src={% static "images/android.png"%} class="h-48 w-56 ml-20 mt-4">
            <p class="font-sans md:font-serif font-bold pl-28 pt-16 pb-20">Simply Register</p>
        </div>
        <div class="col">
            <img src={% static "images/arrow.png"%} class="h-68 w-64 ml-10">
        </div>
        <div class="col">
            <img src={% static "images/apple.png"%} class="h-68 w-64">
            <p class="font-sans md:font-serif font-bold pl-20 pt-2 pb-auto">Post Pictures</p>
        </div>
        <div class="col">
            <img src={% static "images/arrow.png"%} class="h-68 w-64">
        </div>
        <div class="col">
            <img src={% static "images/thinking.jpg"%} class="h-56 w-52">
            <p class="font-sans md:font-serif font-bold pt-10">Need Help?</p>
        </div>
    </div>

{% endblock content %}