{% extends "base.html" %}
{% load static %}

{% block title %}Privacy Policy{% endblock title %}

{% block content %}
    <p class="text-white text-lg text-center pt-5"> Our Privacy Statement<br></p>
    <p class="text-white pt-3">This Privacy Policy is intended to describe how your personal information is processed
        and used. Please note that
        by visiting and using this website you are accepting the practices described.<br><br>

        Visitor Information:<br>
        Every computer connected to the Internet is provided with a domain name and an IP Address. When a visitor
        requests a web page from within the Open Book Publishers website, our servers automatically identify and log the
        HTTP request that is made.<br>

        This information reveals nothing personal about you. In fact, the only information that we automatically gather
        and log is as follows: the IP address of the site that may have referred you; your IP address; the web page that
        you may have linked to us from, if any; the product identifier for version and make of browser (e.g. Internet
        Explorer 7); the operating system platform that you may be running (e.g. Macintosh or Windows); search words or
        terms that are passed from a search engine (e.g. Google or Yahoo).<br>

        Open Book Publishers has found it advantageous to examine visitor traffic so that we can ensure maximum
        compatibility for the various browsers and operating systems that visit our site. By analysing visitation
        patterns, referring URLs and search engine terms, we can strategically enhance our exposure across the
        Internet.<br><br>

        Cookies and log information:<br>
        This website does issue 'cookies' (these are small files of information which websites use to identify its
        users), however, these do not contain personal information. Open Book Publishers does not share this data with
        third parties. You can disable cookies by altering the settings of your browser and the website will still
        function.<br><br>
        Third Parties:<br>
        Open Book Publishers will disclose your personal information or any of its log file information when required by law or in the good-faith belief that such actions are necessary.</p>

{% endblock content%}