{% extends "base.html" %}
{% load static %}

{% block title %}Recommend{% endblock title %}

{% block content %}
<div class="card mb-3 h-100" style="margin-left: auto; margin-right: auto; width: 50%; max-width: 600px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{ selected_img }} class="img-fluid rounded-start" style="height: 100%;" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="height: 300px;">
            <h2 class="text-black" style="margin-top: 5px font-size: 24px;">{{ selected_title }}</h2>
            <h4 class="text-black" style="margin-top: 5px">{{ selected_author }}</h4>
            <h4 class="text-black" style="margin-top: 5px">Votes - {{ selected_votes }}</h4>
            <h4 class="text-black" style="margin-top: 5px">Rating - {{ selected_rating }}</h4>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    {% comment %} <hr style="height:10px;border-width:0;background-color:cyan"> {% endcomment %}
    <h1 class="text-red-700 text-2xl font-bold text-center" style="font-size: 50px;">Recommended</h1><br>
    <h4 class="text-black-700 text-2xl font-bold text-center">More Books like - "{{ selected_title }}"</h4>
</div>
<div class="container" style="margin-bottom: 50px;">
    <div class="row">

        {% for image_var,title_var,author_var,votes,rating in recommend_list %}
            
            <div class="col-md-3" style="margin-top:50px;">
                <div class="card h-100" style="width: 15rem;">
                    <div class="card-body" >                        
                        <img class="card-img-top h-80" src={{ image_var }}>
                        <h2 class="text-black" style="margin-top: 5px">{{ title_var }}</h2>
                        <h4 class="text-black" style="margin-top: 5px">{{ author_var }}</h4>
                        <h4 class="text-black" style="margin-top: 5px">Votes - {{ votes }}</h4>
                        <h4 class="text-black" style="margin-top: 5px">Rating - {{ rating }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}