{% extends "base.html" %}
{% load static %}

{% block title %}Safety Tips{% endblock title %}

{% block content %}
    <p class="text-lg text-center pt-10 font-bold underline">Essential Internet Safety Tips</p>
    <p class="pt-10">To avoid all of these dangers, we recommend following our essential safety tips when you or your
        family are
        online:<br><br>

        1. Make sure you’re using a secure internet connection:<br>
        Although using public Wi-Fi is not recommended, it’s sometimes unavoidable when you are out and about. However,
        when you go online in a public place and use a public Wi-Fi connection, you have no direct control over its
        security, which could leave you vulnerable to cyberattacks. So, if you are using public Wi-Fi, avoid carrying
        out personal transactions that use sensitive data, such as online banking or online shopping.

        If you need to do any one of these, use a Virtual Private Network or VPN. A VPN will protect any of the data you
        send over an unsecured network via real-time encryption. If you don't use a VPN, we recommend saving any
        personal transactions until you can use a trusted internet connection. You can find out more about what a VPN is
        here.<br><br>
        2. Choose strong passwords:<br>
        Passwords are one of the biggest weak spots when it comes to cybersecurity. People often choose passwords that
        are easy to remember and, therefore, easy for hackers to crack with hacking software. In addition to this, using
        the same password for multiple sites puts your data at further risk. If hackers obtain your credentials from one
        site, they can potentially access other websites which use the same login details.<br><br>
        3. Keep software and operating systems updated:<br>
        Developers are constantly working to make products safe, monitoring the latest threats and rolling out security patches in case of vulnerabilities in their software. By using the latest versions of your operating systems and apps, you will benefit from the latest security patches. This is especially important for apps that contain payment, health or other sensitive information about a user.<br><br>
        4. Be careful of suspicious links and where you click:<br>
        A careless click can expose your personal data online or infect your device with malware. That’s why it's essential to browse consciously and avoid certain types of online content – such as links from untrusted sources and spam emails, online quizzes, clickbait, ‘free’ offers or unsolicited ads.<br>
        
        If you receive an email that you're not sure about, avoid clicking on any links in it or opening any attachments.<br>
        
        In fact, it's best to avoid opening untrusted emails at all. If you’re not sure whether an email is legitimate or not, go directly to the source. For example, if you receive a suspicious email from your “bank”, call your bank and ask them if the email is genuine.</p>
{% endblock content%}