{% extends "base.html" %}
{% load static %}

{% block title %}T & C{% endblock title %}

{% block content %}
    <p class="text-white font-bold text-center underline pt-5 pb-3">Website Terms of Use</p>
    <p class="text-white">Please read these website terms of use carefully before using this website . These website
        terms of use govern your access to and use of the website. The website is available for your use only on the
        condition that you agree to the terms of use set forth below. If you do not agree to all of the terms of use, do
        not access or use the website. By accessing or using the website, you and the entity you are authorised to
        represent signify your agreement to be bound by the terms of use.<br><br>

        <span class="text-gray-700 font-bold underline">User Eligibility</span><br><br>

        The Web Site is provided by Page Turn and available only to entities and persons who have reached the age of
        legal majority and are competent to enter into a legally binding agreement(s) under the applicable law. If You
        do not qualify, You are not permitted to use the Web Site.<br><br>

        <span class="text-gray-700 font-bold underline">Scope Of Terms Of Use</span><br><br>

        These Terms of Use govern Your use of the Website and all applications, software and services available via the
        Web Site, except to the extent that such Services are the subject of a separate agreement. Specific terms or
        agreements may apply to the use of certain Services and other items provided to You via the Website. Any such
        Service Agreements will accompany the applicable Services or are listed in association therewith or via a
        hyperlink associated therewith.<br><br>

        <span class="text-gray-700 font-bold underline">Modifications</span><br><br>

        Page Turn may revise and update these Terms of Use at any time. Your continued usage of the Web Site after any
        changes to these Terms of Use will be deemed as acceptance of such changes. Any aspect of the Web Site may be
        changed, supplemented, deleted or updated without notice, at the sole discretion of Page Turn. Page Turn may
        also change or impose fees for products and services provided through the Web Site at any time, at its sole
        discretion. Page Turn may establish or change, at any time, general practices and restrictions concerning other
        products and services at its sole discretion.
    </p>
{% endblock content %}