{% extends "base.html" %}
{% load static %}

{% block title %}Why Use{% endblock title %}

{% block content %}

        <div class="row">
            <div class="col">
                <p class="text-4xl text-center pt-16 text-white">Why Use?</p>
                <p class="font-bold text-white pt-5">People who love reading develop a sense of positive thinking which helps them grow stronger in life.
                    They are more empathetic, imaginative and creative personnel. Wherever they go, they create a
                    passionate reading environment and encourage people in their surroundings to get more attracted
                    towards books.

                    Their eyes always get stick to place wherever they see their favourite author’s new book with
                    attractive covers prevailing in the market. But the only thing that matters a lot is the cost of
                    books. People think twice before purchasing it because many of us can’t afford to buy new books
                    every time. So there is only one solution to this problem is, buying second hand books. And that too
                    buying it online is more beneficial. It provides relief to people and especially to students because
                    they need to purchase their course book which was difficult with new books. These used books online
                    save money, time and fulfil our requirements.
                    So here are some amazing benefits of buying second hand books:<br><br>

                    (1.)Second hand books are cheaper than new books:<br>

                    Buying used books online saves time, money and effort of individual of going to market and provides
                    knowledge at the same time. People and especially students who are preparing for competitive exams
                    can purchase second hand books online at low cost as compared to new books.<br><br>

                    (2.)Provides satisfaction:<br>

                    Second hand books exclude charm and allure that new books persist. But these used books provide
                    satisfaction and offers the same feel of reading. Its slightly faded covers and folded pages contain
                    that experience which is impossible to get from new books.<br><br>

                    (3.)Used books are Environment friendly:<br>

                    Choosing second hand books is an easy and smart way to conserve natural resources. It is important
                    to use material which can be easily reduced, reuse and recycle. And the used books save trees, raw
                    material and contributes in saving environment.
                </p>
            </div>
        </div>
    </div>

{% endblock content %}